img{
    margin: 50px;
    height: 50px;
    width: 50px;
}

.color{
    text-align: center;
    font-family: 'Mali', cursive;
    border: 6px solid rgb(71, 46, 99);
    border-radius: 20px;
    margin-left: 500px;
    margin-right: 500px;
    background-color: rgba(71, 46, 99, 0.445);
}

body{
    background: url(https://images.hdqwalls.com/download/minimal-landscape-4k-ro-1920x1080.jpg);
    background-size: cover;
}

.name{
    border-radius: 10px;
    border: 6px solid rgb(71, 46, 99);
    background-color: rgba(71, 46, 99, 0.445);
    margin-left: 550px;
    margin-right: 550px;
    font-size: 40px;
    text-align: center;
    color: bisque;
    font-family: 'Mali', cursive;
    
}

.head1{
    color: bisque;
    font-family: 'Mali', cursive;
    border-radius: 10px;
    border: 6px solid rgb(71, 46, 99);
    background-color: rgba(71, 46, 99, 0.445);
}

.head2{
    color: bisque;
    font-family: 'Mali', cursive;
    border-radius: 10px;
    border: 6px solid rgb(71, 46, 99);
    background-color: rgba(71, 46, 99, 0.445);
    font-size: 20px;
}

.bra{
    color: bisque;
    font-family: 'Mali', cursive;
}

fieldset{
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 10px;
    border: 6px solid rgb(71, 46, 99);
    background-color: rgba(71, 46, 99, 0.445);
}

legend{
    font-family: 'Mali', cursive;
    color: rgb(211, 162, 102);
    font-weight: bold;
    font-size: 25px;
    border-radius: 10px;
    border: 6px solid rgb(71, 46, 99);
    background-color: rgba(71, 46, 99, 0.445);
}

.ans{
    border: 5px solid rgb(71, 46, 99);
    border-radius: 10px;
}

h2{
    font-size: 15;
    font-family: 'Mali', cursive;
}

#result{
    margin-left: 750px;
    margin-right: 750px;
    text-align: center;
    border-radius: 10px;
    border: 6px solid rgb(71, 46, 99);
    background-color: rgba(71, 46, 99, 0.445);
    color: rgb(255, 231, 201);
}

button{
    background-color: rgb(71, 46, 99);
    border-radius: 9px;
    border: none;
    padding: 10px 20px;
    color: bisque;
    font-size: 20px;
    font-family: 'Mali', cursive;
    font-weight: bold;
    margin-left: 50px;
    margin-right: 50px;
}


.blacke{
    color: black;
}

p{
    color:bisque;
    text-align: center;
    margin-top: 10px;
    font-family: 'Mali', cursive;
    font-size: 20px;
}


.pur{
    margin-left: 100px;
    border-radius: 10px;
    border: 6px solid rgb(71, 46, 99);
    background-color: rgba(71, 46, 99, 0.445);
}
.pin{
    margin-left: 100px;
    border-radius: 10px;
    border: 6px solid rgb(71, 46, 99);
    background-color: rgba(71, 46, 99, 0.445);
}
.re{
    margin-left: 110px;
    border-radius: 10px;
    border: 6px solid rgb(71, 46, 99);
    background-color: rgba(71, 46, 99, 0.445);
}
.ora{
    margin-left: 110px;
    border-radius: 10px;
    border: 6px solid rgb(71, 46, 99);
    background-color: rgba(71, 46, 99, 0.445);
}
.lim{
    margin-left: 110px;
    border-radius: 10px;
    border: 6px solid rgb(71, 46, 99);
    background-color: rgba(71, 46, 99, 0.445);
}
.gre{
    margin-left: 110px;
    border-radius: 10px;
    border: 6px solid rgb(71, 46, 99);
    background-color: rgba(71, 46, 99, 0.445);
}
.cya{
    margin-left: 110px;
    border-radius: 10px;
    border: 6px solid rgb(71, 46, 99);
    background-color: rgba(71, 46, 99, 0.445);
}
.blu{
    margin-left: 110px;
    border-radius: 10px;
    border: 6px solid rgb(71, 46, 99);
    background-color: rgba(71, 46, 99, 0.445);
}
.yel{
    border-radius: 10px;
    border: 6px solid rgb(71, 46, 99);
    background-color: rgba(71, 46, 99, 0.445);
}
.bro{
    border-radius: 10px;
    border: 6px solid rgb(71, 46, 99);
    background-color: rgba(71, 46, 99, 0.445);
}

.sri{
    font-size: 40px;
}

.Main{
    font-family: 'Mali', cursive;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    background-color: rgba(36, 4, 83, 0.459);  
    color:bisque;  
}

*{
    padding: 0;
    margin: 0;
}
.navbar{
    border-style: none;
    border-color: rgb(255, 255, 255) ;
    padding: 15px 20px;
    background-color: rgba(40, 91, 103, 0.548);
    text-align: center;
}
.navbar ol{
    font-size: 26px;
    font-family: 'Mali', cursive;
    display: inline;
    color: beige;
}
.navbar a{
    text-decoration: none;
    margin-left: 20px;
    color: aliceblue;
}

i{
    text-align: center;
    font-size: 50px;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.con{
    background-color: rgba(255, 235, 205, 0.365);
    text-align: center;
}


